body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1c7ed6;
    color: white;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-link {
    color: white;
    font-size: 1rem;
}

.btn-primary, .btn-danger {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #1c7ed6;
    border-color: #1c7ed6;
    color: white;
}

.btn-danger {
    background-color: #e03131;
    border-color: #e03131;
    color: white;
}

.page-content {
    margin-top: 20px;
    padding: 20px;
}

.row-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

#mittenList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Assure que la carte prend toute la hauteur disponible */
    flex: 1 1 10%; /* Flexibilité et base de départ pour la réactivité */
    max-width: 250px; /* Largeur max pour ne pas étirer les cartes trop */
    min-width: 200px; /* Largeur min pour éviter les cartes trop petites */
    min-height: 300px;
    max-height: 300px; /* Hauteur min pour éviter les cartes trop petites */
    transition: transform 0.2s; /* Animation douce pour hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un peu de profondeur */
    border-radius: 8px; /* Bords arrondis pour un look moderne */
    overflow: hidden; /* Garde tout contenu interne bien emballé */
    margin-bottom: 20px; /* Espacement entre les cartes */
}



.card:hover {
    transform: translateY(-10px);
}

.card-body {
    padding: 20px;
    flex: 1;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.card-img-bottom {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0 0 8px 8px;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto; /* Important pour pousser les boutons en bas */
}


.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-flex > div {
    display: flex;
    align-items: center;
}

.header-flex span {
    margin-right: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: modalopen 0.4s;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.closeCreate, .closeEdit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCreate:hover, .closeCreate:focus,
.closeEdit:hover, .closeEdit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

